/******************
    User custom CSS
    ---------------

    In this file you can add your own custom CSS
    It will be loaded last, so you can override any other property.
    Also, it will never be updated. So if you inheritate a core template and just add here some CSS, you'll still benefit of all the updates
*/

/* General Layout */
body {
    font-family: Arial, sans-serif !important;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    background-color: #FFF;
    margin: 0 !important;
    padding: 0 !important;
}

#outerwrapper {
    margin-top: 90px;
    margin-bottom: 10px;
    float: none;
    clear: both;
    background-color: #FFF;
}

#outerwrapper #outerwrapper,
#outerwrapper #outerwrapper .container {
    padding: 0;
    width: auto;
}

#outerframeContainer {
    padding: 0;
    width: auto;
}

#dynamicReloadContainer {
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #outerwrapper {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        /*width: 970px;*/
        width: 998px;
    }
}

@media (min-width: 1200px) {
    .container {
        /*width: 1170px;*/
        width: 998px;
    }
}

hr {
    margin: 10px 0;
    border-color: transparent;
}

a,
a:link {
    color: #000;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #00b37d;
    text-decoration: underline;
}

img {
    max-width: 100%;
}

/* Navbar */
.header-wrapper {
    margin-bottom: 15px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    background: #fff;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    .header-wrapper {
        position: relative;
        margin: 0;
    }
}

.navbar-toggle {
    float: none;
    margin-right: 0;
}

.navbar-collapse {
    padding: 0;
}

.navbar {
    min-height: 0;
    margin: 0;
    text-align: center;
}

.navbar-header {
    float: none !important;
    padding: 15px 0;
}

.navbar-brand {
    padding: 15px 0;
    min-height: initial;
}

h1.surveyname {
    text-align: center;
    font-weight: 700;
    height: auto;
    line-height: 130%;
    font-size: 24px;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .logo-wrapper,
    h1.surveyname {
        margin-bottom: 15px;
    }
}

.navbar-nav {
    float: none;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-action-link {
    padding: 0;
}

.navbar-collapse.in {
    overflow-y: visible;
}

.navbar-item-left {
    text-align: left;
    padding-left: 0;
}

.navbar-item-middle {
    text-align: center;
}

.navbar-item-right {
    text-align: right;
    padding-right: 0;
}

.navbar-logo-left {
    padding-left: 0;
}

.navbar-logo-middle {
    padding-right: 0;
    text-align: center;
}

.navbar-logo-right {
    padding-right: 0;
    text-align: right;
}

.logo-bar {
    margin-top: 0;
    padding: 15px 0;
}

.navbar-banner {
    text-align: center;
}

img.logo-left {
    height: 42px;
    width: auto;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        padding: 0 15px;
    }

    .navbar-logo-left {
        padding: 0;
        text-align: center;
    }

    .navbar-logo-middle {
        text-align: center;
        padding: 0;
        margin-top: 15px;
    }

    .navbar-logo-right {
        text-align: center;
        padding: 0;
        margin-top: 15px;
    }

    .navbar-item-left {
        text-align: center;
        margin: 6px 0;
        padding: 0;
    }

    .navbar-item-middle {
        text-align: center;
        margin: 6px 0;
        padding: 0;
    }

    .navbar-item-right {
        text-align: center;
        margin: 6px 0;
        padding: 0;
    }

    .navbar-banner {
        padding: 0;
    }
}

/* Language Changer */
.language-wrapper {
    margin: 15px 0;
    text-align: right;
}

.languagechanger {
    margin: 15px 0;
    display: block;
}

a.languagechanger,
a:link.languagechanger {
    color: #888;
    text-decoration: none;
}

a:hover.languagechanger,
a:focus.languagechanger {
    color: #888;
    text-decoration: none;
}

#langs-container {
    height: auto;
}

.form-change-lang {
    text-align: center;
}

ul#langs-container {
    margin-left: 42%;
    overflow: initial !important;
}

/* Progress bar */
.progress-wrapper {
    padding: 0;
    float: right;
}

@media only screen and (max-width: 768px) {
    .progress-wrapper {
        float: none;
        margin: 15px auto 0 auto;
    }
}

.progress {
    background-color: #fff;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none !important;
    border: 1px solid #000;
    height: 15px;
}

.progress-bar {
    background-color: #000;
    color: #000;
}

/* Welcome Page */
.text-info {
    color: #000;
}

.survey-welcome {
    margin-top: 15px;
}

.question-count-text {
    margin-top: 15px;
}

/* Privacy */
.privacy {
    margin-top: 15px;
    padding: 15px 0;
    margin: 15px 1px;
    border: 2px solid #14f5b4;
    background-color: transparent;
}

p.ls-privacy-body {
    margin: 15px 0 0 0;
    font-style: italic;
}

/* Privacy policy */
.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0;
    background-color: transparent;
}

.panel-primary {
    border-color: transparent;
}

.panel-primary > .panel-heading {
    color: #000;
    background-color: transparent;
    border-color: transparent;
    padding: 15px 0;
}

.panel-body {
    padding: 5px 0;
}

.panel-footer {
    padding: 10px 0;
    background-color: transparent;
    border-top: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

input#datasecurity_accepted {
    vertical-align: top;
}

.limit-text-window {
    display: none;
}

/* Group layout */
.group-outer-container {
    display: block;
}

.group-title {
    text-align: center;
    font-weight: 700;
    font-size: 110%;
    margin-top: 15px;
    margin-bottom: 5px;
}

.group-description {
    margin-top: 0;
    text-align: center;
}

/* Question layout */
.question-number, .question-code {
    float: none;
    margin: 0;
}

.question-container {
    background-color: #fff;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border: none !important;
    border-top: 2px solid #14f5b4 !important;
}

.question-text {
    font-size: 110%;
    font-weight: 700;
}

.input-error.question-container {
    border: 1px solid #a94442;
}

.question-title-container {
    padding: 15px 0 0 0;
    background-color: transparent;
    color: #000;
    margin-bottom: 15px;
}

.question-valid-container {
    padding-left: 0;
    padding-right: 0;
    font-size: 90%;
}

.answer-container {
    padding: 0;
}

.question-number,
.question-code {
    font-weight: normal;
    color: #000;
}

.ls-answers tbody .answertext {
    text-align: left;
    padding: 0;
}

tr.ls-odd,
.array-flexible-column tr.answers-list:nth-child(even) {
    background-color: transparent;
}

.table-hover > tbody > tr:hover,
tr.answers-list:hover,
.array-flexible-column tr.answers-list:hover {
    background-color: #f0f0f0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: 0;
    padding: 4px 8px;
}

.table-bordered {
    border: 0;
}

.asterisk {
    margin-right: 5px;
    font-size: 90% !important;
    vertical-align: top;
}

.asterisk small {
    font-size: 90% !important;
    vertical-align: top;
}

.input-error .asterisk {
    font-size: 90% !important;
    margin-top: 0;
}

.question-help-container {
    font-size: 90%;
    margin-top: 20px;
    color: #000;
}

.numeric-multi input.numeric,
.multiple-short-txt input.form-control,
.multiple-short-txt textarea.form-control {
    margin-bottom: 15px;
}

.ls-input-group-extra {
    vertical-align: top;
    padding: 1rem 1.2rem;
}

.array-flexible-row .ls-answers .answertextright {
    text-align: right;
}

/* Navigator */
#navigator-container {
    margin-bottom: 15px;
    padding-bottom: 0;
    margin-top: 30px;
}

.btn {
    border-radius: 0;
    font-size: 110%;
    border-radius: 0px;
}

a.btn-primary,
a.btn-default {
    text-decoration: none;
}

a.btn-primary {
    color: #fff;
}

.btn-primary {
    color: #ffffff;
    background-color: #000;
    border-color: #000;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #00b37d;
    border-color: #00b37d;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #ffffff;
    background-color: #111;
    border-color: #111;
}

.input-group-addon.btn-primary {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-default {
    border-color: #000;
    color: #000;
}

.btn-default:hover {
    border-color: #00b37d;
    color: #fff;
    background-color: #00b37d;
}

/* Radios and checkboxes */

/* radio buttons */
.radio-item label::before {
    border: 1px solid #aaa;
    background-color: #FFF;
}

.radio-item label::after {
    background-color: #00b37d;
}

/* checkboxes */
.checkbox-item label::before {
    border: 1px solid #aaa;
    background-color: #FFF;
}

.checkbox-item label::after {
    color: #00b37d;
    background-color: transparent;
    width: 17px;
    height: 17px;
    left: -1px;
    top: 0px;
    font-size: 12px;
}


/* Ranking question */
.sortable-choice {
    padding: 5px;
}

.sortable-choice .ls-choice.sortable-item {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.sortable-rank {
    padding: 5px;
}

.sortable-rank .ls-choice.sortable-item {
    background-color: #00b37d;
    border: 1px solid #00b37d;
    margin-bottom: 5px;
    color: #fff;
}

/* Boilerplate question */
/* 2019-04-04 No paddings for boilerplate */
.boilerplate {
    padding-bottom: 0;
}

.boilerplate.question-container {
    border: none !important;
}

.boilerplate .question-title-container {
    margin-bottom: 0;
}

/* Gender question */
/* Yes/no question */
/* Bootstrap buttons layout */
.gender-button .btn-primary,
.yes-no .btn-primary,
.bootstrap-buttons-div .button-item {
    color: #000;
    background-color: #eee;
    border-color: #eee;
    border: 2px solid #FFF;
}

.gender-button .btn-primary:hover,
.gender-button .btn-primary:focus,
.gender-button .btn-primary.active,
.gender-button .btn-primary.active:hover,
.gender-button .btn-primary.active:focus,
.yes-no .btn-primary:hover,
.yes-no .btn-primary:focus,
.yes-no .btn-primary.active,
.yes-no .btn-primary.active:hover,
.yes-no .btn-primary.active:focus,
.bootstrap-buttons-div .button-item:hover,
.bootstrap-buttons-div .button-item:focus,
.bootstrap-buttons-div .button-item.active,
.bootstrap-buttons-div .button-item:hover,
.bootstrap-buttons-div .button-item:focus {
    color: #FFF;
    background-color: #00b37d;
    border-color: #00b37d;
    border: 2px solid #fff;
}

/* Bootstrap buttons layout */
/* 2019-04-05 Marcel: New CSS for bootstrap button layout */
.bootstrap-buttons-div {
    padding: 0 5px;
}

.bootstrap-buttons-div .button-item {
    word-break: break-all; /* remove this to not break words (wastes quite some space) */
    white-space: normal;
    padding: 0.5em 0.5em;
}

/* 5pt choice */
.choice-5-pt-radio li.radio-item {
    margin-right: 15px;
}

/* Slider question */
.slider-handle {
    background-color: #14f5b4;
    background-image: -webkit-linear-gradient(top, #14f5b4 0%, #00b37d 100%);
    background-image: -o-linear-gradient(top, #14f5b4 0%, #00b37d 100%);
    background-image: linear-gradient(to bottom, #14f5b4 0%, #00b37d 100%);
}

.tooltip-inner {
    background-color: #000;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #000;
}

.slider-selection {
    background-image: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
    background-image: -o-linear-gradient(top, #eee 0%, #ccc 100%);
    background-image: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eee', endColorstr='#ccc', GradientType=0);
}

.numeric-multi .ls-group-remaining .suffix-text.suffix {
    display: inline;
    margin-left: -15px;
}


/* Text questions */

/* Highlight text fields with main template color */
.form-control:focus {
    border-color: #000;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 0, 0, .6) !important;
}

/* Print Page */
.url-wrapper-survey-print {
    margin: 15px 0;
}

.question-container-printanswers {
    border-bottom: 1px solid #ccc;
}

/* Footer */
footer .copyright {
    text-align: center;
    margin: 20px 0;
    font-size: 90%;
}

body {
    padding-bottom: 0; /* no bottom padding, footer should be bottom aligned */
    padding-top: 60px; /* now is redefine in JS to fit any title length */
    flex-direction: column; /* article, then footer */
    display: flex; /* flex, to extend the content to full size */
    min-height: 100vh; /* full height, to bottom-align footer */
}

body > article {
    flex: 1; /* the main article should use as much space as possible */
}


div.yes-no .btn-group label,
.gender .btn-group label {
    padding-top: 10px;
}

.completed-wrapper {
    margin-bottom: 45px;
    min-height: 200px;
}

/* Datepicker */

.datepicker .active,
.datepicker .today {
    background-color: #000 !important;
    background: #000 !important;
    color: #FFF !important;
}

/* Index */
.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
    background-color: #000;
    color: #FFF;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #ccc;
}

.dropdown-menu > li > a {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

/* Startpage */
.survey-list-heading,
.survey-list,
.survey-contact {
    text-align: center;
}

#surveys-list-container {
    background-color: #fff;
    padding: 45px 0;
}

/* Fix array alignment */
td.answer-item.radio-item {
    vertical-align: middle;
}

/* 2018-12-02 Marcel: Fix captcha width */
.captcha-image {
    width: auto;
}

/* 2019-02-10 Marcel: Additional language changer adjustments */
#main-col form div.form-change-lang.form-inline {
    display: none;
}


/* 2019-02-11 Marcel: Hide progress bar from certain screens */
.printanswers .header-wrapper .progress-wrapper,
.listsurveys .header-wrapper .progress-wrapper {
    display: none;
}

/* 2019-03-11 Marcel: adjust margin to not show scroll bar at list survey page */
.listsurveys {
    margin-right: 15px;
    margin-left: 15px;
}

/* 2019-02-11 Marcel: Remove background color from print version (PDF) */
body.printlayout {
    background-color: #fff;
    padding: 10px !important;
}


/* START 2019-03-13 Marcel: Adjusted styles for "List surveys" screen */
.listsurveys {
    border-bottom: 1px solid #000;
}

.listsurveys .header-wrapper {
    margin-bottom: 0px;
}

.listsurveys .header-wrapper .navbar-brand {
    display: none;
}

#surveys-list-container {
    padding: 0 0 45px 0;
    margin-top: 0px;
}

#surveyListFooter {
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.surveys-list .btn-group {
    margin: 0 auto;
    float: none;
}

.survey-contact.col-xs-12 {
    padding-top: 20px;
}

/* END 2019-03-13 Marcel: Adjusted styles for "List surveys" screen */


/* 2019-04-04 Marcel: Improved display for split up array questions */
@media only screen and (max-width: 760px), (max-device-width: 1024px) and (min-device-width: 768px) {
    .table-hover > tbody > tr:hover,
    tr.answers-list:hover,
    .array-flexible-column tr.answers-list:hover {
        background-color: initial;
        color: initial;
    }

    tr.ls-odd, .array-flexible-column tr.answers-list:nth-child(even) {
        background-color: #f0f0f0;
    }

    table.ls-answers > tbody > tr:nth-child(even):hover {
        background-color: #f0f0f0;
    }

    table.ls-answers > tbody > tr:nth-child(odd):hover {
        background-color: #fff;
    }


    table.ls-answers > tbody > tr td.answer-item.radio-item,
    table.ls-answers > tbody > tr td.answer-item.checkbox-item {
        border-bottom: 1px solid #ddd;
        padding-left: 30px;
        padding-top: 10px;
        padding-bottom: 0px;
    }

    td.answer-item.radio-item.answer_cell_ noanswer-item,
    td.answer-item.checkbox-item.answer_cell_ noanswer-item {
        border-bottom: 0px;
    }

    .array-flexible-row .ls-answers .answertextright {
        text-align: left;
    }

    table.ls-answers > tbody > tr.ls-heading-repeat {
        display: none;
    }

    table.ls-answers > tbody > tr th.answertext,
    table.ls-answers > tbody > tr th.answertextright {
        font-size: 120%;
    }


    table.ls-answers > tbody > tr td.radio-item:hover,
    table.ls-answers > tbody > tr td.checkbox-item:hover {
        color: #000;
        background-color: #ddd;
    }

}

/* 2019-05-03 Marcel: Left align item text at multiplce choice with comment */
.multiple-opt-comments .checkbox-text-item .answer-item .checkbox-label {
    text-align: left;
}


/* 2019-05-09 Marcel: Styles for Bootstrap tooltips */
span.tooltip {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: #a94442;
    opacity: 1;
    font-size: inherit;
    position: initial;
    display: inline;
}


/* Add class "tooltipquestion" at the "Display" section of your question! */
.tooltipquestion li.radio-item label,
.tooltipquestion li.checkbox-item label {
    width: 100%;
}

.answer-item .tooltip .tooltip-inner {
    max-width: 75%;
    margin: auto;
}

/* Make sure sliders with tooltips still use same defaults */
.answer-item .slider .tooltip .tooltip-inner {
    max-width: initial;
}

/* Align modal on top */
.modal::before {
    height: auto;
    vertical-align: top;
}

/* Hide tip */
.ls-em-tip {
    display: none;
}

.ls-em-error {
    display: block;
}

.btn-show-hide {
    width: 10%;
    margin-bottom: 10px;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    body {
        display: block !important;
    }
}

/* Footer */
footer .copyright {
    text-align: center;
    margin: 20px 0;
    font-size: 90%;
}

.header {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 400;
    /*background-color: #009bbb !important;*/
    color: #f0f0f0;
    position: relative;
    z-index: 15;
    padding-top: 31px;
    padding-bottom: 31px;
}

.header-text {
    font-size: 20px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    background-color: #009bbb !important;
    margin-top: 10px;
    }

.footer {
    margin-top: 10px;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 400;
    background-color: #009bbb;
    color: #f0f0f0;
    position: relative;
    z-index: 15;
}

a.footerlink {
    color: #fff;
    text-decoration: none;
}

a.footerlink:hover {
    color: #fff;
    text-decoration: underline;
}

@font-face {
    font-family: "Unit-Light";
    src: local("☺"), url("fonts/UnitWeb-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/UnitWeb-Light.woff2") format("woff2"),
    url("fonts/UnitWeb-Light.woff") format("woff"),
    url("fonts/UnitWeb-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Unit-Regular";
    src: local("☺"), url("fonts/UnitWeb.eot?#iefix") format("embedded-opentype"),
    url("fonts/UnitWeb.woff2") format("woff2"),
    url("fonts/UnitWeb.woff") format("woff"),
    url("fonts/UnitWeb.ttf") format("truetype");
}

#word_mark {
    font-family: Unit-Light, Verdana, sans-serif;
    font-size: 25.5px;
    line-height: 29px;
    color: #fff;
    display: inline-block;
}

#word_mark span {
    font-family: Unit-Regular, Verdana, sans-serif;
    font-size: 27.5px;
    letter-spacing: 0px;
}

img.logo-left {
    width: 180px;
    height: auto;
}
