#header {
    background-color: #FFF;
    border-bottom: 1px solid #DDDCDC;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

img.logo {
    max-width: 100%;
    height: auto;
}


